<div ng-controller="OneNote">
			
	<pre id="results">{{ data }}</pre>

    <div ng-if="pageContent" ng-click="back()">
        <i class="ms-Icon ms-Icon--arrowLeft ms-fontSize-xxl ms-fontColor-themePrimary" aria-hidden="true"></i>
    </div>

	<div ng-repeat="page in pages" ng-if="!pageContent" class="ms-ListItem is-unread is-selectable">
        <div ng-click="openPage(page)">
            <span class="ms-ListItem-primaryText">{{page.title}}</span>
            <span class="ms-ListItem-secondaryText">modified {{page.lastModifiedTime | friendlyDate}}</span>
        </div>
	</div>
	
	<div ng-bind-html="pageContent"></div>
	
	<div style="color:red" ng-show="!!error">
		Error: {{ error }}
		<br/>
		Error code: {{ errorCode}}
	</div>
	
</div>